.manage-form {
			background:fixed;
			align-items: center;
			background-position: center;
			box-sizing: border-box;
	       
	        margin-left: 150px;
	        position:absolute;
	        padding :100px 10px;



		}
.manage-form table,th,td{
	width:500px;
	height: auto;
	border-width: 1px solid black;
}
.manage-form h2
{
	margin-bottom: 20px;
	font-weight: 900;
			font-size: 22px;
			color:#778899;
			text-transform: uppercase;
}

table{
	border-collapse: collapse;
	color :blue;
	box-shadow:0 10px 20px 0 rgba(0,0,0,0.3);
	border-radius: 10px;
	margin: auto;

}
th , td{
	border:1px solid black;
	padding: 10px 30px;
	text-align: center;
	color :black;

}
th{
	
	font-weight:bold;
}
td{
	font-size:14px;
}
